<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.roseno.curbcrime.mapper.UserMapper">

    <!-- 회원정보 조회 (로그인 시 사용) -->
    <select id="findUserByIdAndPassword" resultType="com.roseno.curbcrime.domain.User">
        SELECT  *
        FROM    users
        WHERE   id = #{id}
        AND     password = PASSWORD(#{password})
        AND     is_deleted = FALSE
    </select>

    <!-- 회원번호 사용 여부 확인 -->
    <select id="isIdxUsed" resultType="boolean">
        SELECT  IF(COUNT(*) > 0, TRUE, FALSE)
        FROM    users
        WHERE   idx = #{idx}
    </select>

    <!-- 회원가입 -->
    <insert id="createUser" parameterType="com.roseno.curbcrime.domain.User">
        INSERT INTO users(  idx,
                            id,
                            password,
                            name,
                            email,
                            role
        )
        VALUES (            #{idx},
                            #{id},
                            PASSWORD(#{password}),
                            #{name},
                            #{email},
                            'USER'
               )
    </insert>
</mapper>